[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
requests = "*"
pytest = "*"
gunicorn = "*"
psycopg2 = "*"
appdirs = "*"
atomicwrites = "*"
attrs = "*"
beautifulsoup4 = "*"
certifi = "*"
chardet = "*"
click = "*"
google-cloud-storage = "*"
idna = "*"
importlib-metadata = "*"
itsdangerous = "*"
more-itertools = "*"
pathspec = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
regex = "*"
six = "*"
toml = "*"
typed-ast = "*"
urllib3 = "*"
wcwidth = "*"
zipp = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Login = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"
flask-migrate = "*"
dataclasses-json = "*"
pandas = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
